<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Some Website</title>
	<link rel="stylesheet" type="text/css" href="css.css">

</head>
<body>
	<div id="top">
		{{> header}}
	</div>
	<p>{{screamIt welcomeMessage}}</p>

	<script src="socket.io/socket.io.js">
		var socket = io();
		socket.on('connect', () => {
			console.log('user connected'); 
		});
	socket.on('disconnect', () => {
			console.log('user disconnected'); 
		});

	</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">

		function weather(address) {

			var address = document.getElementById('address').value;

			var encodedAddress = encodeURI(address);


			var geocodedUrl = `https://maps.googleapis.com/maps/api/geocode/json?&address=${encodedAddress}`;
document.getElementById("results").innerHTML = ("Your geocodedUrl is " + geocodedUrl); //
axios.get(geocodedUrl).then((response) => {
	if (response.data.status === 'ZERO_RESULTS') {
		throw new Error('Unable to find the address.');
	};
	//document.write(response.data);
	var lat = response.data.results[0].geometry.location.lat;
	var lng = response.data.results[0].geometry.location.lng;
	var key = "48c82fb555848b47af534fa60c40d3da";
	
	var weather =`https://api.forecast.io/forecast/${key}/${lat},${lng}`;
	document.getElementById("car").innerHTML = ("Your darksky url is " + weather);
	
	
	return axios.jsonp(weather);



}).then((resp) => {
	document.getElementById("bee").innerHTML = `here it is ${resp.data.currently.summary}`;

})
.catch((e) => {
	if (e.code === 'ENOTFOUND') {
		document.getElementById("results").innerHTML ='Unable to connect to API servers.';
	} else {
		document.getElementById("dog").innerHTML ="your error is " + e.message;
	}
});
};


</script>

<form>
	<fieldset>
		<legend>What's the weather?  Enter an address to find out!</legend>
		Address: <br>
		<input type="text" id="address" name="address"><br>
		<input type="button" value="submit" onclick='weather()'/>
		<div id="results"></div>
		<div id="show"></div>
		<div id="car"></div>
		<div id="bee"></div>
		<div id="dog"></div>
	</fieldset>
</form>



{{> footer}}
</body>

</html>